/* h1, p {
  width: 70%;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

.grace {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
}

.grace-img {
  float: right;
  margin-top: 20px;
  position: relative;
} */

a {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

.grace p {
  width: 50%;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

#portfolio {
  margin-top: calc(20px + 1em);
  min-height: 100vh;
}
